@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Coda&family=Dancing+Script&family=Fira+Sans:wght@400&family=Spirax&display=swap');

#footer {
    width: 120%;
    height: 260px;
    background-color: rgb(1, 1, 78);
  }
  
  .footerText {
    font-size: 14pt;
    transform: translate(0%, 50%);
    color: rgb(255, 255, 255);
    font-family: "Dancing Script", cursive;
  }
  
  .paraText {
    float: left;
    margin: 40px 9.2%;
  }
  
  .paraText li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .paraText a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: white;
    margin-bottom: 8px;
  }
  
  .footerLogoText {
    font-family: "Spirax", cursive;
    color: white;
    font-size: 25px;
    transform: translate(5.5%, 30%);
    margin-left: 8.4%;
    text-align: center;
    width: 140px;
  }
  
  .footerLogoText span {
    font-family: "Coda", cursive;
    font-size: 18px;
  }
  
  .paraText .align1 {
    width: 90px;
  }
  
  .paraText .align2 {
    width: 120px;
  }
  
  .col-2 {
    border: 2px solid rgb(255, 255, 255);
    width: 360px;
    transform: translate(30%, -135%);
    z-index: 4;
    margin-left: 24%;
    position: absolute;
    padding: 10px;
    border-radius: 7px;
    font-size: 11pt;
  }
  
  .col-2 h3,
  .col-2 button {
    color: #ffffff;
    text-align: center;
    }
  
  .col-2 button {
    margin: 7px 60px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 11pt;
  }
  
  .col-2 input {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 13px auto;
    border: 1px solid black;
    width: 340px;
  }
  
  .icons {
    color: #ffffff;
    transform: translate(750%, -450%);
    font-family: Calibri, 'sans-serif';
    text-align: center;  
    position: absolute;
  }
  
  .icons p {
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
  }
   
  .icons i {
    color: #ffffff;
  }
  
  .icons a {
    margin-right: 3px;
    font-size: 14pt;
  }