*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*-------------- Color----------- */

:root{
    --primary-color:#edf2fc;
    --secondary-color: #281a5a;
}

/* SECTION 1 */
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
}   

/* .register-btn, .Login-btn{
    background: var(--primary-color);
    color: var( --secondary-color);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
} */

.register-btn{
    margin-left: 380px;
}

.nav-links{
    margin-left: 150px;
}

.container{
    padding: 0 7%;
}

.header h1{
    font-size: 4vw;
    font-weight: 3000;
    color: var(--primary-color);
    text-align: center;
    padding-top: 22%;
}

.search-bar{
    background: var(--primary-color);
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}

.location-input{
    flex: 1;
}

.search-bar form label{
    font-weight: 600;
}


/* ---------exclusives----------- */
.subtitle{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: var( --secondary-color);
}

/* What ? */
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div img{
    width: 100%;
    border-radius: 10px;
}

.exclusives div{
    position: relative;
}
.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-color);
}

/* ---------Trending Places------------- */
.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius:10px;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}
.img-container{
    position: absolute;
    
}
.overlay{
    position: relative;
    background-color:var(--primary-color);
    opacity:0;
    top: -72%;
    left: 0;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var( --secondary-color);
}
.overlay:hover{
    transition: 1s;
    opacity: 0.7;
}

/* ---------Call to action------------- */
.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent),url(../images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: var(--primary-color);
}

.cta h3{
    font-size: 4vw;  /* what ? */
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p{
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn{
    background: #ff5361;
    color: var(--primary-color);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top:20px;
    display: inline-block;
}

/* ----------------stories------------------- */
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img{
    width: 100%;
    border-radius: 10px;    
}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 26px;
}

.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: var(--primary-color);
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/* -----------about msg */
.about-msg{
    text-align: center;
    margin: 80px;
    color: var( --secondary-color);
    font-size: 17px;
}

.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* --------------Footer---------------- */
.footer{
    margin: 80px 0 10px;
    text-align: center;
}

.footer a{
    text-align: none;
    color: #999;
    font-size: 22px;
    margin: 0 4px;
}

.footer hr{
    background-color: #999;
    height:1px ;
    width: 100%;
    border:0;
    margin: 20px 0;
}

.footer p{
    padding-bottom: 15px;
}


.active{
    position: relative;
}

.active::after{
    content: '';
    background: var(--primary-color);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
    width: 100%;
}

/* ---------for smaller screen */
@media only screen and(max-width: 700px)
{
    body{
        background-color: var(--primary-color);
    }
    .logo{
        position: fixed;
        top :4%;
        left: 7%;
    }


    nav .nav-links{
        margin: 10px 0;
        display: block;
    }
}

.nav ul li::after{
    content:'';
    width: 0;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s; 
  }
  
.nav ul li:hover::after{
    width: 100%;
}

.footer-2{
    margin-top: 100px;
    width: 100%;
    padding: 60px 15%;
    background:var( --secondary-color);
    color: var(--primary-color);
    display: flex;  
    height: 300px; 
}

.footer-2 div{
    text-align: center ;
}

.col-2{
    flex-grow: 2;
}

.footer-2 div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: left;
}

.email{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
} 
.col-3 p{
    text-align: right;
}

/*---------- Scroll Bar------------------ */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#eb3349, #f45c43);
    border-radius: 10px;
}



/* ---------Night Mode and Dark Mode */


.contact{
    width: 100%;
   /* 6:38 */
}

.enquiry{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.enquiry h3{
    color: red;
    font-weight: 800;
    margin-bottom: 20px;
}

.enquiry input, textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}

.enquiry button{
    color:black;
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.enquiry textarea{
color: rgb(0, 0, 0);
}

/* nav bar */
 a .width  {
    width: 400px;
}

#icon{
    width: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.navBar {
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%,240%);
  }

.animPosition {
    display: relative;
    margin: auto;
    border: 4px solid black;
  }
  
  .navBar nav {
    /* overflow: hidden; */
    list-style-type: none;
    margin: auto;
  }
  
  .navBar nav {
    background-color: rgb(0, 0, 0);
    padding: 7px 1px 12px;
    border-radius: 5px;
    border: 1px solid rgb(255, 239, 239);
    font-size: 15px;
    text-decoration: none;
    position: relative;
    text-align: center;
    width: 380px;
  }
  
  .navBar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 9px;
    font-family: "Fira Sans", sans-serif;
    display: inline-block;
    position: relative;
  }
  
  /* start of nav animation */
  
  nav .animation {
    position: absolute;
    height: 5px;
    /* height: 5px; */
    bottom: 4px;
    /* bottom: 0; */
    z-index: 0;
    background: #ffffff;
    width: 100px;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
  }
  a:nth-child(1) {
    width: 60px;
  }
  nav .start-explore,
  a:nth-child(1):hover ~ .animation {
    width: 55px;
    left: 30px;
  }
  a:nth-child(2) {
    width: 50px;
  }
  nav .start-packages,
  a:nth-child(2):hover ~ .animation {
    width: 50px;
    left: 92px;
  }
  a:nth-child(3) {
    width: 50px;
  }
  nav .start-hotel,
  a:nth-child(3):hover ~ .animation {
    width: 45px;
    left: 150px;
  }
  a:nth-child(4) {
    width: 93px;
  }
  nav .start-things-to-do,
  a:nth-child(4):hover ~ .animation {
    width: 93px;
    left: 202px;
  }
  a:nth-child(5) {
    width: 45px;
  }
  nav .start-deals,
  a:nth-child(5):hover ~ .animation {
    width: 45px;
    left: 300px;
  }

#checkIn, #checkOut {
    margin-right: 25px;
}
  