@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Coda&family=Dancing+Script&family=Fira+Sans:wght@400&family=Spirax&display=swap');
   
   table {
     border-collapse: collapse;
     margin: auto 17%;
   }
 
   td {
     border: 1px solid black;
     font-size: 10pt;    
     padding-left: 8px;
     padding-right: 8px;
   }
 
   #lastRow {
     width: 210px;
     height: 160px;
   }

   #logInBox {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;    
    max-height: 85vh;
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 20px;
    margin: 20px auto; 
  }
  
  #logInBox h3 {
    font-size: 25pt;
    margin-bottom: 10px;
  }
  
  .headerAndInputs {
    text-align: center;
  }
  
  .mainContent {
    margin-top: 15px;
    font-family: "Fira Sans", sans-serif;
  }
  
  .mainContent h3 {
    font-size: 20pt;
  }
  
  .keepItSign {
    font-size: 10pt;
  }
  
  .inputBoxes input {
    border: none;
    padding: 15px 20px;
    font-size: 12pt;
    margin-bottom: 3px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 380px;
  }
  
  .inputBoxes input:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.7s;
  }
  
  ::-webkit-input-placeholder {
    color: rgb(112, 112, 112);       
    font-family: "Fira Sans", sans-serif;
  }
  
  :focus {
    outline: none;
  }
  
  .inputBoxes {
    margin-bottom: 5px;
  }

  
button {
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: 400px;
  }
  
  button:hover {
    background-color: rgb(204, 204, 204);
    transition: 0.6s;
  }

  #image::-webkit-file-upload-button {       
    font-family: "Fira Sans", sans-serif;
    font-size: 11pt;
  }

  #image{
    font-family: "Fira Sans", sans-serif;
    font-size: 11pt;
  }

  